.layoutContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
        background-color: black;

    .topbar {
        height: 10vh;
        width: 100%;
        padding-top: 10px;
            padding-left: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        
            h2 {
                color: grey;
                padding-right: 20px;
            }
    }

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        overflow: hidden;

        .sidebar {
            width: 12%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
                padding-top: 30px;
                padding-left: 20px;
            
                .active {
                    color: #007bff;
                    font-weight: bold;
                }
            
                h3 {
                    color: grey;
                    cursor: pointer;
                }
        }

        .window {
            width: 88%;
            height: 100%;
            background-color: black;
            border-radius: 12px;
            padding: 10px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    }
}