.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: scroll;
  background-color: black;

  .allfilters {
    .allcards {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      margin: 5px 0px;

      .cards {
        margin: 0 10px;
        background-color: aqua;
      }
    }

    .filters {
      border: 1px solid black;
      margin: 5px 0px;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      .datefilter {
        display: flex;
        align-items: center;
      }

      .resetbtn {
        display: flex;
        align-items: center;
        .btn{
          background-color: white;
          color: black;
          padding: 15px;
          border-radius: 16px;
          outline: none;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }

}