$color-white-0: #ffffff;
$color-white-1: #fcfbf7;

$color-black-0: #000000;
$color-black-1: #202121;
$color-black-2: #0e0e0e;

$color-grey-1: #e9e9e9;
$color-grey-2: #8b8e94;
$color-grey-3: #5a5b60;

$color-green-0: #1fce6e;

$color-blue-1: #acb5bd;
$color-blue-2: #7187ff;

$color-red-1: #e80909;

$user-type-font: 'Poppins', sans-serif;

$user-type-font: 'Poppins', sans-serif;
$base-color: #f7f8f8;
$base-light-accent-color: #d3d5d5;
$base-accent-color: #8e8e8e;

$base-link-accent: #4d3a3a;
$base-text-color: #171b1c;
$accent-text-color: #22282a;

$line-color: #b3b3b3;
$line-color-accent: #c6c6c6;
$table-head: #f4f4f6;
$base-link: #0e88cd;

$black: #000;
$white: #fff;
$gray: #ccc;
$accent-gray: #888;

$base-button-color: #232323;
$base-dropdown-color: rgba(143, 143, 143, 0.2);
$modal-backdrop: rgba(63, 63, 63, 0.5);
$loader-base-background: #e4e4ed;